<!DOCTYPE html>
<html>

<head>
    <title>Shortened!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h2>Short URL created!</h2>
    <p>Here is your short link:</p>
    <a href="<%= shortUrl %>" target="_blank">
        <%= shortUrl %>
    </a>
    <br><br>
    <a href="/">Create another</a>
</body>

</html>